:root {
    --PrimaryColor: hsl(94,59%,35%);
    --HoverColor: #bdf094;
    --paleGreen: hsl(96,75%,89%);
    --whiteColor: hsl(0,0%,100%);
    --blackColor: hsl(0,0%,18%);
    --textColor: hsl(240,1%,48%);
    --bgColor: hsl(220,10%,94%);
    --greyText: rgb(190,190,190);
    --inputColor: hsl(330,12%,97%);
    --itemCardColor: hsl(120,5%,88%);
    --itemCardHover: hsl(120,27%,87%);
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
  }
.crop-info {
    margin-bottom: 20px;
  }
  
  /* Style for crop titles */
  .crop-title {
    font-weight: bold;
  }
  
/* Style for the paragraphs */
.crop-text {
    max-height: 100px; /* Set a maximum height for the collapsed text */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    text-align: justify; /* Add text justification */
  }
  
  /* Style for expanded paragraphs */
  .crop-text.expanded {
    max-height: none; /* Remove the maximum height for expanded text */
  }
  
  /* Style for the "Read More" button */
  .read-more-button {
    background-color: var(--PrimaryColor);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  