.video-containerab {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    /* overflow-y:scroll; */
    
    
  }
  
  .video-containerab h2{
    color: white;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
  }
  
  
  #video-backgroundab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
  }

  
  
  
  
  #back{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  #back:hover{
    background-color: #ffffff; /* White background on hover */
    color: green;
    border-color: transparent;
  }

  .about-container {
    color: #fff;
    margin-top: 20px;
    text-align: center;
  }
  